<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="This the description">
    <title>The Generics</title>
    <link rel="stylesheet" href="style.css">
     <script defer src="store.js" async> </script>
</head>
<body>
      <header class="Main-Header">
            <nav class="nav-header" >
                <ul >
                      <li> <a class="a" href="index.html"> <strong>HOME</strong></a> </a><li>
                      <li> <a class="a" href="store.html"> <strong>STORE</strong></a> </a><li>
                      <li> <a  class="a" href="abouts.html"> <strong>ABOUT</strong></a> </a><li>
                </ul>
           </nav>
         
           <h1 class="band-name "> The Generics </h1>
           
            
         </header>
     <section class="Content-Section">
             <h1 class="Section-Head">MUSIC</h1>
             <div class="shop-items">
                  <% items.music.forEach(function(item) { %>
                              <DIV class="shop-item"  data-item-id=" <%= item.id %>">
                                    <span  class="shop-item-title"><%= item.name  %></span>                              
                                    <img  class="shop-item-img" src="Images/<%= item.image%>" alt="">
                                    <div class="shop-item-details">
                                          <span class="shop-item-price"> <%= item.price / 100 %> </span>
                                          <button class="shop-item shop-item-btn"  role="button">ADD TO CART</button>
                                    </div>
                              </DIV>
                  <% }) %>          
                 
             </div>
             
     </section>
     <section class="Content-Section"></section>>
          <h1 class="Section-Head">MERCH</h1>
      <div class="shop-items">
            <% items.MERCH.forEach(function(item) { %>
                  <DIV class="shop-item"  data-item-id=" <%= item.id %>">
                        <span  class="shop-item-title"><%= item.name  %></span>                              
                        <img  class="shop-item-img" src="Images/<%= item.image%>" alt="">
                        <div class="shop-item-details">
                              <span class="shop-item-price"> <%= item.price / 100 %> </span>
                              <button class="shop-item shop-item-btn"  role="button">ADD TO CART</button>
                        </div>
                  </DIV>
      <% }) %> 
      </div> 
     </section>
     <section  class="Content-Section"  >
                 
             <h1 class="Section-Head">CART</h1>
              
             <div class="cart-row">
                   <span class="cart-header cart-column cart-item"  >ITEM</span>
                  
                   <span class="cart-header  cart-column cart-price" > PRICE</span>
                  
                   <span  class="cart-header  cart-column cart-quantity"  > QUANTITY</span>
                  
             </div>
       <div  class="cart-items">        
              
        </div>        
                <div class=" cart-total"> 
                    <strong class="cart-total-title" >Total</strong>
                    <span class="cart-total-price ">ksh 0</span>
                </div>
                <div>
                     <button  class="btn-purchase" type="role">PURCHASE</button>
                </div>
     </section> 
     <div >
      <footer class="Main-Footer" >
          <h1 class="band-name " style="font-weight: bold;"> The Generics</h1>
           <ul>
                 <a href="https://www.facebook.com" target="_blank">
                    <li><img src="Images/icons8-facebook-48.png" alt="fb logo "></li>
                 </a>
                 <a href="https://www.twitter.com" target="_blank">
                    <li> <img src="Images/icons8-twitter-69.png" alt="twitter logo"></li>
                 </a>                    
           </ul>                
          
      </footer>
  </div>
</body>
</html>